---
import 'bootstrap/dist/css/bootstrap.min.css';
import TopicForm from '../components/TopicForm.astro';
import About from '../components/About.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sorted by extent</title>
	</head>
	<body>
		<div class="px-4 py-5 my-5">
			<h1 class="display-5 fw-bold" style="margin-bottom: 50px;">Types of _____, sorted by extent</h1>
			<About />
			<TopicForm />
		</div>
	</body>
</html>
