<h2 style="font-size: 40px;">What is this?</h2>

<br>
<p>There are some types of people/things where the fact that they/it fall(s) under that category is really vague, and there are a lot of different types of it.</p>
<p>Then I got the idea of visualizing it by sorting it from most normal to most unique (and sometimes even bizarre), and on December 10, 2022 I made a prototype website for it.</p>
<p>I think that's probably a bad description of it, but... well... I tried.</p>
<br>

<h2 style="font-size: 40px;">Where are the visualizations?</h2>

<br>
<p>I'm trying to find topics to visualize, but I have no idea what that would be.</p>
<p><b>As a solution to this problem, I've added a form for submitting ideas.</b></p>
<p>However, it's probably only going to be temporary, and it's just something I quickly hacked together with gin and sqlite.</p>
<p>TL;DR: <b>They don't exist, *yet*.</b></p>
<br>