<form class="row g-3" action="/api/submit_topic" method="post" novalidate autocomplete="off">
	<h3>Have an idea?</h3>
	<div class="col-auto">
		<input class="form-control" name="topic">
	</div>
	<div class="col-1">
		<button type="submit" class="btn btn-primary mb-3">Submit</button>
	</div>
</form>
